@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: #000000e8;
   border: solid;
   border-width: 3px;
   border-color: rgb(211, 214, 222);
   font-family: "Jost", sans-serif;
}

.continer1{
    width: 110px;
    height: 90px;
}

#img0{
    width: 90px;
    height: 90px;
    margin-left: 20px;
    border: solid;
    border-width: 2px;
    border-color: rgb(214, 183, 136);
    border-radius: 100px;
}

.continer2{
    position: absolute;
    top: 50px;
    left: 140px;
    margin-left: 200px;
}

.continer2 a{
    color:  rgb(214, 183, 136);
    text-decoration: none;
}

.continer2 a:hover{
    color: rgb(211, 214, 222);
}

#one{
    cursor: pointer;

}

#two{
    margin-left: 100px;
    cursor: pointer;

}

#three{
    margin-left: 100px;
    cursor: pointer;
}

#four{
    margin-left: 100px;
    cursor: pointer;
}

.continer3{
    position: absolute;
    top: 45px;
    left:970px;
}

input{
    width: 200px;
    border-radius: 50px;
    border-color: white;
}

#five{
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
    background-color: white;
    border: 0;
    text-decoration: none;
}

.continer4{
    position: absolute;
    top: 50px;
    left: 65.625rem;
    margin-left: 200px;
}

.continer4 a{
    color: rgb(214, 183, 136);
    text-decoration: none;
}
.continer4 a:hover{
    color: rgb(211, 214, 222);
}

main img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: black;
}

.img-logo{
    position:sticky;
    top: 380px;
}

.logo{
    position: absolute;
    right: 100px;
    width: 90px;
    height: 90px;
    border: solid;
    border-width: 3px;
    border-radius: 100%;
    border-color: rgb(214, 183, 136);
}

footer{
    width:100%;
    height: 300px;
    background-color: rgb(56, 34, 22);
}

.fot1{
    font-family: "Caveat", cursive;
    font-size: 30px;
    font-style: italic;
    line-height: 3;
    color: white;
    position: relative;
    top: 30px;
    left: 80px;
}

.fot2{
    padding-top: 60px;
    padding-left: 80px;
}

.fot2 a{
    font-family: "PT Sans", sans-serif;
    color: white;
    text-decoration: none;
}
.fot2 a:hover{
    color: rgb(214, 183, 136);
}

.fot3{
    font-family: "PT Sans", sans-serif;
    font-size: large;
    text-align: center;
    position: relative;
    bottom: 200px;
}
.fot3 p{
    color: white;
}

.fot3 button{
    cursor: pointer;
    border: 0px;
    background-color:  rgb(56, 34, 22);;
    color: white;
}

.fot4{
    position: relative;
    bottom: 350px;
    left: 80rem;
}

.fot4 a{
    text-decoration: none;
    color: white;
}

.fot4 a:hover{
    color: rgb(214, 183, 136);
}
